.background {
  width: 100vw;
  height: 100vh;
  background: url("../imgs/background.png") center/cover no-repeat;
  background-attachment: fixed;
}
.agences_map {
  height: initial !important;
  margin: 0px !important;
  @include media("<=tablet") {
    width: 100vw !important;
  }

  .map {
    margin: 10vh auto;
    width: 70vw !important;
    height: 85vh !important;
    margin-left: 20vw;
    @include media("<=tablet") {
      margin: 5vw !important;
      width: 90vw !important;
      height: 60vh !important;
    }
  }
  .positionCard {
    position: absolute;
    left: 2vw;
    top: -3vh;
    @include media("<=tablet") {
      top: 40vh;
    }
  }
  .content {
    height: 80vh !important;
    margin-top: 20vh;
    width: 30vw !important;
    background: url(../imgs/agencies/agnciesCard.png) center/cover no-repeat !important;
    background-size: 100% 100% !important;
    .titleOfCard,
    .BookAppointment {
      margin-top: 5vh;
    }
    @include media("<tablet") {
      width: 90vw !important;
      margin: 5vw !important;
      height: 70vh !important;
    }
  }
  .titleOfCard {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  .BookAppointment {
    background: linear-gradient(180deg, #152982 0%, #677ddd 100%);
    box-shadow: 0px 4px 20px rgba(16, 35, 119, 0.4);
    border-radius: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
  }
}
