.w-40 {
  width: 40%;
}
.QuestionIcon {
  width: 3rem;
  margin-right: 1rem;
}
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #081139;
}
.answer {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 80vh;
  overflow-y: scroll;
}
