.WhoWeAre {
  .WhoWeAreHeader {
    background: url("../imgs/WhoWeAre/background.png") center/cover no-repeat;
    padding-inline-start: 5vw;
    padding-bottom: 5vh;
    @include media("<=tablet") {
      flex-direction: column-reverse;
    }
  }
  .WhoWeAreTitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 75px;
    background: linear-gradient(180deg, #ffffff 0%, #b6b6b6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-inline-start: 3rem;
    margin-top: 2vh;
    @include media("<=tablet") {
      font-size: 2.5rem;
      text-align: center;
    }
  }
  .whiteTag {
    width: 130%;
    background: linear-gradient(180deg, #fafafa 0%, #f0f0f0 100%);
    box-shadow: 0px 6px 22px rgba(137, 137, 137, 0.25);
    border-radius: 42px;
    padding: 1rem 3rem;
    height: fit-content;
    position: relative;
    margin-inline-start: 3rem;
    margin-top: 2vh;
    @include media("<=tablet") {
      width: 80vw;
      margin: 2vh auto;
      padding: 0rem 2rem;
    }
    .line-left {
      background: linear-gradient(159.91deg, #d24bd9 13.39%, #f38c16 115.81%);
      box-shadow: 0px 4px 22px rgba(137, 137, 137, 0.25);
      border-radius: 25px;
      width: 1.4rem;
      height: 63%;
      left: -0.3rem;
      position: absolute;
      @include media("<=tablet") {
        width: 1.2rem;
        height: 90%;
        top: 0.2rem;
        left: -0.2rem;
      }
    }
    h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1.9rem;
      line-height: 48px;
      color: #6f0174;
      @include media("<=tablet") {
        font-size: 1rem;
      }
    }
  }
  .col4 {
    margin-top: 10vh;
  }
  .headerImg {
    margin-top: -10vh;
    @include media("<=tablet") {
      margin-top: 5vh;
    }
  }
  .greyLine {
    width: 30vw;
    @include media("<=tablet") {
      width: 50vw;
    }
  }
  .formulationP {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 38px;
    background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .firstSection {
    padding-top: 10vh;
    position: relative;
  }

  .BlueTitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 72px;
    background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5vh;
    margin-inline-start: 20vw;
    @include media("<=tablet") {
      font-size: 1.7rem;
      text-align: center;
      margin-inline-start: auto;
    }
  }
  .formulationP {
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 38px;
      margin-top: 5vh;
      background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 55%;
      margin-inline-start: 10vw;
      @include media("<=tablet") {
        width: 80vw;
        margin: auto;
        text-align: center;
      }
    }
  }

  .lampOnRight {
    width: 55vw;
    position: absolute;
    right: -10%;
    top: 20%;
    z-index: 0;
    @include media("<=tablet") {
      position: relative;
      left: 30vw;
      width: 55vw;
      margin: 0 auto;
    }
  }
  .formulationBlock {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 38px;
      margin-top: 5vh;
      background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    padding: 2vw 20vh;
    @include media("<=tablet") {
      padding: 2vw;
      text-align: center;
    }
    margin-inline-start: 10vw;
    width: 55%;
    background: url("../imgs/WhoWeAre/whiteplaceholder.png") center/cover
      no-repeat;
    background-size: 100% 100%;
    margin-top: 10vh;
    @include media("<=tablet") {
      width: auto;
    }
  }
  .Forming {
    background: url("../imgs/WhoWeAre/FormingBg.png") center/cover no-repeat;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include media("<=tablet") {
      height: initial;
    }
    .FormingH2 {
      font-family: "Poppins";
      font-style: normal;
      width: 60%;
      margin-top: 5vh;
      font-size: 2.6rem;
      font-weight: 600;
      line-height: 72px;
      background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-inline-start: 10vw;
      @include media("<=tablet") {
        font-size: 2rem;
        width: 80vw;
        margin-top: 1vh;
        text-align: center;
        line-height: initial;
      }
    }
  }
  .greenCard {
    background: url("../imgs/WhoWeAre/bluePlaceHolder.png") center/cover
      no-repeat;
    background-size: 100% 100%;
    width: 60vw;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw 10vh;
    @include media("<=tablet") {
      padding: 2vw 5vw;
      width: 90vw;
    }
    .Qoute {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: #ffffff;
      @include media("<=tablet") {
        font-size: 1.5rem;
        line-height: initial;
      }
    }
    .signe {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
      margin-inline-start: auto;
      width: fit-content;
      color: #ffffff;
    }
  }
  .someP {
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
      background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @include media("<=tablet") {
        font-size: 1.5rem;
        line-height: initial;
      }
    }
    @include media("<=tablet") {
      margin-inline-start: 5vw;
      margin-inline-end: 5vw;
    }
    margin-inline-start: 10vw;
    margin-inline-end: 10vw;
    margin-top: 10vh;
  }
  .circleAndWave {
    margin-top: -20vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .purpleCard {
    background: url("../imgs/WhoWeAre/placeholder.png") center/cover no-repeat !important;
    background-size: 100% 100% !important;
  }
  .lineOurStandards {
    width: 30vw;
    margin-top: 10vh;
  }
  .OurStandards__H1 {
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 72px;
    width: fit-content;
    background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media("<=tablet") {
      font-size: 1.6rem;
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      line-height: initial;
    }
  }
  .Our_Vision {
    background: url("../imgs/WhoWeAre/pinkPlaceholder.png") center/cover
      no-repeat;
    background-size: 100% 100%;
    width: 70%;
    position: relative;
    min-height: 50vh;
    margin: 15vh auto;
    padding: 4rem 6rem;
    @include media("<=tablet") {
      margin: 1vw auto;
      width: 90vw;
      padding: 4rem 2rem;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 68px;
      @include media("<=tablet") {
        font-size: 1.7rem;
        line-height: initial;
      }
    }
    p {
      font-size: 2rem;
      font-weight: 400;
      @include media("<=tablet") {
        font-size: 1rem;
      }
    }
    h2,
    p {
      font-family: "Poppins";
      font-style: normal;

      background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .Our_Vision__icon {
      position: absolute;
      left: 6.11%;
      top: -10vh;
      background: url(../imgs/WhoWeAre/IconBg.png) no-repeat;
      background-size: 100% 100%;
      display: grid;
      width: 10vw;
      height: 10vw;
      place-items: center;
      @include media("<=tablet") {
        width: 20vw;
        height: 20vw;
        top: -5vw;
      }
      img {
        width: 50%;
      }
    }
  }
  .Our_Mission {
    background: url("../imgs/WhoWeAre/bluePlaceHolder.png") center/cover
      no-repeat;
    background-size: 100% 100%;
  }
  .Our_Objectives {
    background: url("../imgs/WhoWeAre/placeholder.png") center/cover no-repeat;
    background-size: 100% 100%;
  }
  .Convictions {
    background: url("../imgs/WhoWeAre/Our\ Convictions\ Bg\ \(1\).png")
      center/cover no-repeat;
    background-size: 100% 100%;
    .h1,
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 68px;
      background: linear-gradient(
        105.39deg,
        #00a8ff -23.54%,
        #6f0174 25.43%,
        #fa5700 121.65%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 5vh;
      @include media("<=tablet") {
        font-size: 1.7rem;
        line-height: initial;
      }
    }
    .text_li {
      background: linear-gradient(180deg, #fafafa 0%, #f0f0f0 100%);
      box-shadow: 0px 6px 22px rgba(137, 137, 137, 0.25);
      border-radius: 42px;
      padding-top: 2rem;
      padding-bottom: 2rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4vh;
      @include media("<=tablet") {
        border-radius: 20px;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: 2vh;
      }

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: #6f0174;
        @include media("<=tablet") {
          font-size: 1rem;
          line-height: initial;
          margin-inline-start: 2rem;
          margin-bottom: auto;
          margin-top: auto;
        }
      }
      .line_on_side {
        position: absolute;
        left: -30px;
        width: 60px;
        @include media("<=tablet") {
          left: -21px;
          width: 40px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .Our_Comunity {
    background: url("../imgs/WhoWeAre/comunityBg.png") center/cover no-repeat;
    background-size: 100% 100%;
    .h1,
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      background: linear-gradient(180deg, #f72e76 0%, #a90d58 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-top: 8vh;
      -webkit-text-fill-color: transparent;
      @include media("<=tablet") {
        font-size: 1.5rem;
      }
    }
  }
  .ourValue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .ourValueBg {
      position: absolute;
      z-index: -1;
      width: 100%;
    }
    .our_value {
      background: url("../imgs/WhoWeAre/OurvalueBgWite.png") center/cover
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .Assuring {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .Assuring__contentCard {
    background: url("../imgs/WhoWeAre/assuringplaceholder.png") center/cover
      no-repeat;
    background-size: 100% 100%;
    padding: 5vw;
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      color: #081139;
      @include media("<=tablet") {
        font-size: 1rem;
        line-height: initial;
      }
    }
  }
  .OrangeLine {
    position: relative;
    right: 0px;
    @include media("<=tablet") {
      width: 80vw;
      margin-inline-start: auto;
    }
    img {
      width: 100%;
    }
  }
  .FormingSection {
    margin-top: 10vh;
    display: flex;
    @include media("<=tablet") {
      flex-direction: column;
    }
    .FormingImgs {
      @include media("<=tablet") {
        width: 30vw;
        position: relative;
        left: 10vw;
        bottom: -10vh;
      }
      width: 50vw;
      margin-inline-start: 5vw;
      margin-right: -12vw;
      z-index: 55;
      margin-top: -7vh;
    }
    .FormingCard {
      margin-inline-end: 5vw;
      width: 50vw;
      background: url("../imgs/WhoWeAre/targetPlaceHolder.png") center/cover
        no-repeat;
      background-size: 100% 100%;
      padding: 8vw;
      @include media("<=tablet") {
        width: 90vw;
        margin: 0 auto;
        padding: 38vw 5vw;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        color: #081139;
        @include media("<=tablet") {
          line-height: initial;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
  .What_card {
    position: relative;
    margin-inline-start: 10vw;
    margin-inline-end: 10vw;
    padding-inline-start: 3rem;
    padding: 1rem 3rem;
    margin-top: 5vh;
    width: 55%;
    margin-left: auto;
    background: linear-gradient(180deg, #fafafa 0%, #f0f0f0 100%);
    box-shadow: 0px 8px 29px rgba(137, 137, 137, 0.25);
    border-radius: 42px;
    @include media("<=tablet") {
      width: 90vw;
      margin: 5vh auto;
    }
    .line {
      background: linear-gradient(164.44deg, #f38c16 11.27%, #84eaff 135.87%);
      box-shadow: 0px 4px 22px rgba(137, 137, 137, 0.25);
      border-radius: 25px;
      position: absolute;
      left: -12px;
      width: 25px;
      height: 70px;
    }
    .h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      background: linear-gradient(101.57deg, #f38c16 24.42%, #6f0174 78.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      @include media("<=tablet") {
        font-size: 1.5rem;
        line-height: initial;
      }
      -webkit-text-fill-color: transparent;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      color: #6f0174;
      @include media("<=tablet") {
        font-size: 1rem;
        line-height: initial;
      }
    }
  }
  .left {
    margin-right: auto;
    margin-left: 10vw;
    @include media("<=tablet") {
      margin-left: auto;
    }
    .h22 {
      background: linear-gradient(
        105.39deg,
        #00a8ff -23.54%,
        #6f0174 25.43%,
        #fa5700 121.65%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .line {
      background: linear-gradient(
        159.91deg,
        #d24bd9 13.39%,
        #f38c16 115.81%
      ) !important;
    }
  }
  .Resulting {
    img {
      width: 50vw;
    }
    .img2 {
      float: right;
    }
    .cardsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em 2em;
      grid-auto-flow: row;
      grid-template-areas:
        "first_div first_div"
        ". ."
        ". ."
        ". ."
        ". .";
      width: fit-content;
      margin: 0 auto;
      .first_div {
        grid-area: first_div;
      }
      @include media("<=tablet") {
        grid-template-columns: 1fr;
        grid-template-areas:
          "first_div"
          "."
          "."
          "."
          ".";
      }
    }
  }
  .h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    text-align: center;
    line-height: 87px;
    background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media("<=tablet") {
      font-size: 1.7rem;
      line-height: initial;
    }
  }
  .resultingCard {
    padding: 1.5rem 2rem;
    background: linear-gradient(
      180deg,
      rgb(255 255 255 / 64%) 0%,
      rgb(255 255 255 / 75%) 100%
    );
    filter: drop-shadow(0px 14px 25px rgba(56, 56, 56, 0.25));
    width: 40vw;
    margin: 0 auto;
    margin-top: 3vh;
    border-radius: 70px;
    @include media("<=tablet") {
      width: 90vw;
    }
    .titl {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 80px;
        margin-inline-end: 2rem;
        @include media("<=tablet") {
          width: 40px;
        }
      }
      .titleH2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media("<=tablet") {
          font-size: 1.3rem;
          line-height: initial;
        }
      }
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      background: linear-gradient(104.69deg, #152982 -2.67%, #081139 101.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-inline-start: calc(80px + 1.5rem);
      @include media("<=tablet") {
        margin-inline-start: 2rem;
        text-align: center;
      }
    }
  }
}
.fw-600 {
  font-weight: 600 !important;
}
